body {
    background: salmon;
    font-family: cursive, "Comic Sans MS", "Comic Sans", serif;
    margin:40px;
}
h1 {
    color:cyan;
    text-align:center;
}
h2 {
    color:blueviolet;
    text-align:center;
}
p{
    color:chartreuse;
    text-align:right;
}
ul {color:gainsboro;}
.left {text-align:left;}
.attention{font-weight:bold;}
.about {background:#00b3d1;}
.skills{font-family:cursive;}
.projects{
    display: flex;
    flex-wrap:wrap;
}
.project{
    width:30%;
    margin:10 px;
    padding: 20 px 10 px;
    background:white;
    border-radius:25;
}
.contact{text-align:center; background:greenyellow;}