body {
    background: salmon;
    font-family: cursive, "Comic Sans MS", "Comic Sans", serif;
    margin:40px;
}
h1 {
    color:cyan;
    text-align:center;
}
h2 {
    color:blueviolet;
    text-align:center;
}
p{
    color:chartreuse;
    text-align:right;
}
ul {color:gainsboro;}
.chocolate {color:chocolate;}
.left {text-align:left;}
.attention{font-weight:bold;}
.about {background:#00b3d1;}
.skills{font-family:cursive;}
.projects{text-align:right; background:whitesmoke;}
.contact{text-align:center; background:greenyellow;}