body {
    background: rgb(228, 228, 228);
    font-family: "Times New Roman";
    margin:40px;
}
a { 
    text-decoration: underline;
    color: black;
}

.title{
    text-align:center;
}

.intro{
    width:47%;
    margin:10px;
    padding:10px;
    background:#6b81b5;
    color:white;
    p {
        padding-left:10px;
        padding-right:10px;
    }
}

.about {
    display: flex;
    flex-wrap:wrap;
}

.projects{
    display: flex;
    flex-wrap:wrap;
}

.project {
    width:30%;
    margin:10px;
    padding:10px;
    background:#909cb9;
    border-radius:10%;

    img {
        width: 300px;
        height: 275px;
        margin: 10px;
        border: 2px solid rgb(0, 0, 0);
        display: block;
        margin: auto;
    }

    p {
        color:white;
        text-align:center;
        margin:15px;
    }

    h3 {
        font-weight:bold;
        text-align:center;
    }

}

.contact{
    text-align:center; 
    padding:10px;
    background:greenyellow;
}
